<template>
    <v-list dense>
        <v-list-group
          no-action
          prepend-icon="mdi-virus-outline"
        >
          <template v-slot:activator>
            <v-list-item-content >
              <v-list-item-title>Covid</v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item
            v-for="(crud, i) in cruds"
            :key="i"
            router
            :to="crud.link"
          >
            <v-list-item-title v-text="crud.title"></v-list-item-title>

            <v-list-item-icon>
              <v-icon v-text="crud.icon"></v-icon>
            </v-list-item-icon>

          </v-list-item>
        </v-list-group>
    </v-list>
</template>
<script>

export default {
    name: 'menu-client',
    data: ()=>({
      cruds: [
        {title: 'Reporte de covid', icon:'mdi-finance', link: '/reportcovid'},
      ],
    }),
}
</script>