<template>
    <v-container>
        <v-subheader>Reporte de zona de clientes</v-subheader>
        <v-row>
            <!-- Clientes Activos -->
            <v-col cols="12" md="3" xs="12">
                <v-card outline max-width="344" ligth color="white">
                     <v-list-item three-line>
                      <v-list-item-content>
                            <v-progress-circular
                            :rotate="100"
                            :size="70"
                            :width="15"
                            :value="50"
                            color="warning"
                            >
                            50
                            </v-progress-circular>
                        </v-list-item-content>
                        <v-card-title class="text-h6 font-weight-light mb-1"> Clientes activos</v-card-title>
                        </v-list-item>
                      
                </v-card>
            </v-col>
            <!-- Clientes Registrados -->
            <v-col cols="12" md="3">
                <v-card outline max-width="344" dark color="#757575">
                     <v-list-item three-line>
                      <v-list-item-content>
                            <v-progress-circular
                            :rotate="100"
                            :size="70"
                            :width="15"
                            :value="60"
                            color="#BDBDBD"
                            >
                            60
                            </v-progress-circular>
                        </v-list-item-content>
                        <v-card-title class="text-h6 font-weight-light mb-1"> Registrados</v-card-title>
                        </v-list-item>
                      
                </v-card>
            </v-col>
            <!-- Clientes Inactivos -->
            <v-col cols="12" md="3">
                <v-card outline max-width="344" dark color="warning">
                     <v-list-item three-line>
                      <v-list-item-content>
                            <v-progress-circular
                            :rotate="10050"
                            :size="70"
                            :width="15"
                            :value="40"
                            color="white"
                            >
                            40
                            </v-progress-circular>
                        </v-list-item-content>
                        <v-card-title class="text-h6 font-weight-light mb-1"> Inactivos</v-card-title>
                        </v-list-item>
                      
                </v-card>
            </v-col>
            <!-- Clientes Proveedores -->
            <v-col cols="12" md="3">
                <v-card outline max-width="344" light color="#BDBDBD">
                     <v-list-item three-line>
                      <v-list-item-content>
                            <v-progress-circular
                            :rotate="100"
                            :size="70"
                            :width="15"
                            :value="80"
                            color="primary"
                            >
                            80
                            </v-progress-circular>
                        </v-list-item-content>
                        <v-card-title class="text-h6 font-weight-light mb-1"> Proveedores</v-card-title>
                        </v-list-item>
                      
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>
<script>
export default{
    data (){
        return{
            value: 50,
        }
    }
}
</script>
