<template>
    <v-container>
                <v-toolbar rounded flat>
                    <!-- Migas de pan-->
                    <v-breadcrumbs :items="items">
                    <template v-slot:divider>
                        <v-icon>mdi-chevron-right</v-icon>
                    </template>
                    </v-breadcrumbs>
                    <v-divider vertical></v-divider>

                    <v-spacer></v-spacer>
                     <!-- Herramientas-->
                     <v-tooltip bottom>
                        <template v-slot:activator="{on, attrs}">   
                            <v-btn icon v-bind="attrs" v-on="on" >
                                <v-badge bordered overlap left dot>
                                 <v-icon>mdi-bell</v-icon>
                                </v-badge>
                            </v-btn>
                        </template>
                        <span> Notificación </span>
                    </v-tooltip>
                     <v-tooltip bottom>
                        <template v-slot:activator="{on, attrs}">   
                            <v-btn icon v-bind="attrs" v-on="on" >
                                <v-icon>mdi-apps</v-icon>
                            </v-btn>
                        </template>
                        <span> Herramientas </span>
                    </v-tooltip>
                    <v-tooltip bottom>
                        <template v-slot:activator="{on, attrs}">   
                            <v-btn icon v-bind="attrs" v-on="on" to="/" >
                                <v-icon>mdi-virus-outline</v-icon>
                            </v-btn>
                        </template>
                        <span> Covid </span>
                    </v-tooltip>
                    <v-tooltip bottom>
                        <template v-slot:activator="{on, attrs}">   
                            <v-btn icon v-bind="attrs" v-on="on">
                                <v-icon>mdi-translate</v-icon>
                            </v-btn>
                        </template>
                        <span> Idioma </span>
                    </v-tooltip>
                     <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
                </v-toolbar>
                <!--- Panel Rigth Covid -->
                <template>
                            <v-navigation-drawer
                            v-model="drawer"
                            absolute
                            temporary
                            right
                            >
                            <template v-slot:prepend>
                                <v-list-item two-line>
                                <v-list-item-avatar>
                                    <img src="https://randomuser.me/api/portraits/women/81.jpg">
                                </v-list-item-avatar>

                                <v-list-item-content>
                                    <v-list-item-title>Jane Smith</v-list-item-title>
                                    <v-list-item-subtitle>Logged In</v-list-item-subtitle>
                                </v-list-item-content>
                                </v-list-item>
                            </template>

                            
                            </v-navigation-drawer>
                        </template>
    </v-container>
</template>
<script>
  export default {
    data: () => ({
        drawer: false,
      items: [
        {
          text: 'Dashboard',
          disabled: false,
          href: 'breadcrumbs_dashboard',
        },
        {
          text: 'Clientes',
          disabled: false,
          href: '#',
        },
        {
          text: 'Lista de clientes',
          disabled: true,
          href: '#',
        },
      ],
    }),
  }
</script>