<template>
<v-container>
  <statisticsinfo/>
  <v-row>
    <v-col cols="12" md="12">
      <v-card>
        <v-card-title>
          Nutrition
          <v-spacer></v-spacer>
          <v-text-field
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="desserts"
        ></v-data-table>
      </v-card>
    </v-col>
  </v-row>
  <v-row>
    <v-col cols="12" md="12">
      <v-subheader>Reporte actual covid mundial</v-subheader>
      <v-card>
        <v-system-bar class="primary"></v-system-bar>
        <v-card-title>
          Reporte
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Buscar"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-simple-table
            fixed-header
            height="300px"
            :search="search"
          >
            <template v-slot:default>
              <thead>
                <tr>
                  <th class="text-left">
                    Continente
                  </th>
                  <th class="text-left">
                    Pais
                  </th>
                  <th class="text-left">
                    Actualización
                  </th>
                  <th class="text-left">
                    Total Casos
                  </th>
                  <th class="text-left">
                    Casos nuevos
                  </th>
                  <th class="text-left">
                    Total Muertos
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="item in items"
                  :key="item.text"
                >
                  <td>{{ item.continent }}</td>
                  <td>{{ item.location }}</td>
                  <td>{{ item.last_updated_date }}</td>
                  <td>{{ item.total_cases }}</td>
                  <td>{{ item.new_cases }}</td>
                  <td>{{ item.total_deaths }}</td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
      </v-card>
    </v-col>
  </v-row>
  </v-container>
</template>

<script>
import covidtools from './CovidUserTools.vue'
import statisticsinfo from './StatisticInfo.vue'
import  axios  from 'axios'

export default{
     components:{
       covidtools,
       statisticsinfo
     },
      data(){
          return{
              search: '',
              desserts: [],
              items: {},
              url: 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/latest/owid-covid-latest.json',
              headers:[
                   {text: 'Continente', value: 'continent'},
                   {text: 'Pais', value: 'location'},
                   {text: 'Actualización', value: 'last_updated_date'},
                   {text: 'Total Casos', value: 'total_cases'},
                   {text: 'Casos Nuevos', value: 'new_cases'},
                   {text: 'Total Muertos', value: 'total_deaths'},
               ],
          }
      },
      methods: {

        async getDataSimple(){
          try {
            const res = await axios.get(this.url)
            this.items = res.data
          } catch (error) {
            
          }
        },
        async getDatas(){
            try {
              const res = await axios.get(this.url)
              let prueba = Object.keys(res.data).forEach(function(key){
                this.items.push(prueba[key])
              })
            } catch (error) {
              
            }
        }
          
      },
      mounted (){
          this.getDatas()
          this.getDataSimple()
      }
     
}

</script>