<template>
    <v-toolbar
      ligth flat dense>
      <v-spacer></v-spacer>
      <v-toolbar-title class="primary--text">Allegro CRM</v-toolbar-title>
      <v-spacer></v-spacer>

       <v-tooltip bottom>
        <template v-slot:activator="{on, attrs}">   
            <v-btn icon v-bind="attrs" v-on="on" class="mr-2" >
                <v-icon>mdi-cog-outline</v-icon>
            </v-btn>
        </template>
        <span> Configuración </span>
       </v-tooltip> 
       <v-divider vertical></v-divider>
      <v-avatar size="36px" class="mx-2 ml-4" >
          <img alt="Avatar"
           src="https://randomuser.me/api/portraits/women/85.jpg" >
           
      </v-avatar>
      <v-toolbar-title class="subtitle-1">Sandra Adams</v-toolbar-title>
    </v-toolbar>
</template>
<script>
  export default {
    name: 'toolbar'
  }
</script>
