<template>
  <v-app>
    <navbar/>
    <v-main class="pl-12 accent">
      <v-container>
             <router-view/>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import navbar from '../src/components/navigation/navbar.vue'
export default {
  name: 'App',
  components: {
    navbar
  },
  data: () => ({
    //
  }),
};
</script>
